
/* Mobile Styles */
@media (max-width: 400px) {
.main-menu {
  display: none;  
}

.services-container {
  width: 350px;
  height: auto;  
}
.services-columns {
  flex-wrap: wrap;
}

.fixed-container {
  display: none;
}

.main-conteiner > .main-section > img {
  width: 80%;  
  }

.menu-button {
  display: flex;
  justify-content: flex-end;
} 
.menu-button > img {
  margin: 15px;
  height: 45px;
}  
}
  

  /* Tablet Styles */
@media (min-width: 401px) and (max-width: 960px) {
 
.services-columns {
  flex-wrap: wrap;
  margin: 0 20px;
}
.main-menu {
  display: none;
}
.menu-button {
  display: flex;
  justify-content: flex-end;
} 
.menu-button > img {
  margin: 15px;
  height: 45px;
}

}

