  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;  
  }
header {
    color: #fff;
    background-color: #242424;
    display: flex;
    justify-content: center;
}
  .header-container {
    border: 1px solid red; 
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 1px solid green;
    font-weight: bold;
    font-size: 25px;
    color: #908f8f;
    font-family: 'Comic Sans MS', cursive;
}

a {
    text-decoration: none;
}
.header-container > a:hover {
    color: #d4d4d4;
} 


nav > ul > li {
    display: inline-block;
	padding: 0 20px;
	line-height: 70px;
    vertical-align: middle;
  /*  border: 1px solid green; */
}

nav > ul > li > a {
    color: #908f8f;
    text-decoration: none;
}
nav > ul > li > a:hover {
    color: #d4d4d4;
}
nav {
  display: flex;
  border: 1px solid pink;
}
button {
  color: #d8d6d6;
  background-color: #e16157;
  border-radius: 7px;
  height: 50px;
  width: 210px;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 4px 0px 0px #ce4940;
  cursor: pointer;
}



.main-conteiner {
    background-color: #7ddfda; 
    display: flex;
    justify-content: center;
    border-top: 10px solid #55a4a1; 
    

}
.main-section {
  /*  border: 1px solid green; */
    width: 1050px;
    height: 630px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-one {
  margin-top: 50px;
  color: rgb(228, 250, 255);
  font-size: 30px;
  font-weight: 100;
  
}

.main-conteiner > .main-section > img {
    width: 350px;
}

.button-quote {
   clear: both;
   margin-top: 45px;
}
.button-quote > img {
  width: 18px;
  vertical-align: middle;
}


.services {
  background-color: #f5f4f0;
  display: flex;
  justify-content: center;
  border-top: solid 20px #e6e4dd;

}
.services-container {
 /* border: 2px solid pink; */
  width: 1050px;
}
.services-text {
/*  border: 2px solid black; */
  height: 155px;  
  text-align: center;
  padding: 39px 0;
  
}
.services-text > h1 {
  color: #545659;
  font-size: 30px;
  font-weight: 400;  
}
.services-text > p {
  color: #79cbc7;
  margin-top: 10px;
  font-size: 20px;
}

.services-columns {
/*  border: 2px solid green; */
  display: flex;
  justify-content: space-around;
}
.column {
/*  border: 2px solid red; */
  margin-top: 20px;
  height: 620px;
  width: 230px;
  line-height: 22px;  

}

.column > div {     /* squares*/
  height: 180px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}
.column > div >img {
    width: 100px;
   /* float: left;
    margin: 35px 0 0 65px; */
}
.design {
  background-color: #333f4d;
  box-shadow: 0px 5px 0px 0px #1d2529;
}
.develop {
  background-color: #79cbc7;
  box-shadow: 0px 5px 0px 0px #497674;
  
}
.support {
  background-color: #a1d29b;
  box-shadow: 0px 5px 0px 0px #617b5d;
}

.column > h2 {
  margin: 25px 0 10px 10px;
  color: #79cbc7;
  font-weight: 300;
}
.column > p {
  margin: 0 10px;
  color: #929292;
  font-size: 15px;
  line-height: 22px;  
}
.column > ul {
  list-style-type: none;
  margin: 15px 10px;
}
.column > ul > li {
  font-size: 14px;
  font-weight: 400;
  color: #4a4950;
}
.column > ul > li::before {
  content: '\0025AE';
  font-size: 10px;
  color: #a5d091;
  margin-right: 5px;
  vertical-align: top;  
}
.column > a {
  color: #79cbc7;
  font-size: 14px;
  margin-left: 10px;
}

.fixed-container {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  top: 45%;
  background: #48beb7;
  border-radius: 0 5px 5px 0;
 }

.fixed-item {
  padding: 10px;
  border-radius: 5px;
}
.fixed-item:hover {
  background: #34aba5;
}

.fixed-item > img {
  width: 30px;
}

.menu-button {
  display: none;
}
